.send-btn {
  width: 80px;
  border: none;
  outline: none;
  cursor: pointer;

  &.nonactive {
    background: #e4e4e9;
    cursor: auto;
  }

  &.active {
    color: #fff;
    background: #a51200;
  }
}
