.message-card-container {
  position: relative;
  &:hover {
    .message-modal-container {
      display: block;
    }
  }
  .message-card {
    display: flex;
    padding: 22px 20px;
    cursor: pointer;
    white-space: pre-line;
    &:hover {
      background-color: #f1f1f1;
    }

    .user-profile {
      width: 40px;
      height: 40px;
      margin-right: 20px;

      .message-card-image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }

      .no-message-card-image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background: url('../../assets/no-user.png');
        background-size: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 95%;
      .name-date {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .name {
          margin-right: 8px;
          font-weight: 700;
          color: #343434;
          font-size: 14px;
        }

        .date {
          color: #8b8e95;
          font-size: 12px;
        }
      }

      .message {
        word-break: break-all;
        font-size: 14px;
        color: #343434;
      }
    }
  }
}
