.message-modal-container {
  display: flex;
  justify-content: center;
  border: 1px solid #e6e6e8;
  background: #fcfcfc;
  position: absolute;
  right: 25px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: #dedede 0 2px 8px;
  padding: 5px 0 5px 5px;
  background: #fcfcfc;
  display: none;

  .message-modal-button {
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
