.signup-container {
  height: 500px;
  width: 500px;
  padding: 20px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
}

.signup-Header {
  text-align: center;
}

.signup-Section {
  display: flex;
  margin-top: 20px;
}

.signtup-profileEdit {
  display: flex;
  flex-direction: column;
  margin: auto;

  .signtup-profileEdit-imgBox {
    margin: auto;
    width: 150px;
    height: 150px;
    border: 3px black solid;
    border-radius: 5px;
    margin-top: 1rem;

    & > img {
      width: 150px;
    height: 150px;
    object-fit: cover;
    }
  }
 
  & > h1 {
    text-align: center;
  }

  & > div {
    margin: 15px 0;
  }
  & > input {
    display: none;
  }
  & > div > label {
    cursor: pointer;
  }
}
// 로그인, 회원가입 입력란

.signup-infoBox {
  margin: auto;

  .signup-info {
    margin: 30px 0;
  
    & > h4 {
      margin: 10px 0;
    }
    & > input {
      width: 200px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #DBDBDB;
      text-indent: 10px;
    }
  }
}




// 로그인, 회원가입 버튼

.signup-buttonBox {
  text-align: right;
  margin-top: 15px;

  .signup-button {
    height: 40px;
    width: 80px;
    margin: auto 0;
    border: 1px solid #DBDBDB;
    background-color: transparent;
    border-radius: 5px;
    font-weight: lighter;
    font-size: 14px;
    cursor: pointer;
  
    &:hover {
      background-color: #DBDBDB;
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}

// 로그인 페이지
  .login-section {
    margin: 0 auto;
    & > div {
      margin: 40px 0;
    }
    & > div:last-child {
      margin: -10px 0;
    }
  }



